.grid-container{
  display: grid;
   grid-auto-columns: minmax(0, 1fr);
   grid-auto-flow: column;
   text-align: center;
   border: 1px solid black;
   align-items: center;
}
.customSelect{
  display: flex;
  margin: 30px;
  justify-content: center;
}